body {
  font-family: Arial, sans-serif;
  background-color: #f2f3f5;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
}

h2 {
  color: #333;
}

form {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 400px;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

input, textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1em;
}

button {
  background-color: #1877f2;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 6px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #155db8;
}

.categoria {
  font-weight: bold;
  margin-bottom: 10px;
  color: #555;
}

.usuario-fijo {
  position: fixed;
  top: 10px;
  right: 15px;
  font-weight: bold;
  background-color: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.preview img {
  max-width: 100%;
  max-height: 200px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
